

  <h2>
    <img  src="../images/dartset.jpg" height="35">
    <%= @dart_set.name %> Dart Set
     <img  src="../images/dartset.jpg" height="35">
  </h2>

    Dart Name: <span style="position:absolute;left:425px;"><%= @dart_set.name %></span>
    <br />
    Dart Manufacturer: <span style="position:absolute;left:425px;"><%= @dart_set.manufacturer %></span>
    <br />
    Dart Condition: <span style="position:absolute;left:425px;"><%= @dart_set.condition %></span>
    <br />
    Dart Body: <span style="position:absolute;left:425px;"><%= @dart_set.body %></span>
    <br />
    Dart Shaft: <span style="position:absolute;left:425px;"><%= @dart_set.shaft %></span>
    <br />
    Dart Flight: <span style="position:absolute;left:425px;"><%= @dart_set.flight %></span>
    <br />
    <br />
    <table>
    <form action="/dart_sets/<%= @dart_set.id %>/edit" method="GET">
      <input style="width:75px" type="submit" value="Edit">
    </form>    
    <form action="/dart_sets/<%= @dart_set.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE" />
      <input style="width:75px;margin-left:25px;" type="submit" value="Delete">
    </form>
    </table>
  <br />
  <br />
  <p style="text-align:center;">
  <a href="/dart_cases/<%= @dart_set.dart_case_id %>">Back to your case</a>
  <br />
  <a href="/dart_cases"> Back to all your Dart Cases</a>
  </p>
  <br />
  <br />
